<!DOCTYPE html>
<html>

<head>
    <title>Email Template</title>
</head>

<body> 
    <% data.forEach(function(dat) { %>
        <li><%= dat.name %></li>
        <li><%= dat.image%></li>
        <li><%= dat.description%></li>
    <% }); %>
</body>

</html>