<!DOCTYPE html>
<html>

<head>
    <title>Email Template</title>
</head>

<body> 
    <!-- <% for (let i=0; i < data.length; i++) { %>
        <tr>
            <td>${data[i].name}</td>
            <td>${data[i].age}</td>
            <td>${data[i].gender}</td>
            <td>${data[i].seatNo}</td>
        </tr>
    <% } %> -->

    <div>
        <h1><%=title %><h1>
        <div><%= body %></div>
        <div><%= total %></div>
      </div>
</body>

</html>